In [1]:
import pandas as pd

In [3]:
estudiantes_df = pd.read_csv('datos_estudiantes_1000.csv')

In [5]:
estudiantes_df.head()

,ID,Edad,Promedio_Notas,Asistencia_%,Asignaturas_Desaprobadas,Uso_Plataforma_Virtual,Participa_Tutorias,Trabaja,Abandona
0,1,19,9.3,100.7,1,0,0,0,1
1,2,29,15.4,80.1,0,1,0,1,1
2,3,19,13.5,70.1,1,0,1,0,0
3,4,23,13.4,80.3,1,0,1,0,1
4,5,18,13.6,85.9,4,0,1,1,0

In [6]:
estudiantes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        1000 non-null   int64
 1   Edad                      1000 non-null   int64
 2   Promedio_Notas            1000 non-null   float64
 3   Asistencia_%              1000 non-null   float64
 4   Asignaturas_Desaprobadas  1000 non-null   int64
 5   Uso_Plataforma_Virtual    1000 non-null   int64
 6   Participa_Tutorias        1000 non-null   int64
 7   Trabaja                   1000 non-null   int64
 8   Abandona                  1000 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 70.4 KB

In [8]:
estudiantes_df.describe()

,ID,Edad,Promedio_Notas,Asistencia_%,Asignaturas_Desaprobadas,Uso_Plataforma_Virtual,Participa_Tutorias,Trabaja,Abandona
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.00000
mean,500.500000,22.819000,13.520500,85.467300,1.52400,0.485000,0.495000,0.499000,0.63400
std,288.819436,3.661372,2.029845,9.829633,1.22185,0.500025,0.500225,0.500249,0.48195
min,1.000000,17.000000,7.000000,53.300000,0.00000,0.000000,0.000000,0.000000,0.00000
25%,250.750000,20.000000,12.175000,78.600000,1.00000,0.000000,0.000000,0.000000,0.00000
50%,500.500000,23.000000,13.500000,85.600000,1.00000,0.000000,0.000000,0.000000,1.00000
75%,750.250000,26.000000,15.000000,92.425000,2.00000,1.000000,1.000000,1.000000,1.00000
max,1000.000000,29.000000,20.200000,117.400000,7.00000,1.000000,1.000000,1.000000,1.00000