In [94]:
import kagglehub
import pandas as pd
from pathlib import Path
import numpy as np

In [39]:
retail_path =  kagglehub.dataset_download("vijayuv/onlineretail")

Downloading from https://www.kaggle.com/api/v1/datasets/download/vijayuv/onlineretail?dataset_version_number=1...

100%|█████████████████████████████████████████████████████████████████████████████| 7.20M/7.20M [00:00<00:00, 7.57MB/s]

Extracting files...

In [76]:
retail_csv = Path(retail_path).resolve() / 'onlineretail.csv'

In [77]:
retail_ds = pd.read_csv(str(retail_csv), encoding='latin1')

# 1. Eploracion de Datos

## Verificar valores nulos

Existen 541 909 filas y 8 columnas, de las cuales hay muchas que contienen valores nulos

In [78]:
retail_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [79]:
retail_ds.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

###  Se eliminan las filas que contiene valores nulos
Quedando solo 406 829 filas sin valores nulos

In [80]:
retail_ds.dropna(inplace=True)

In [81]:
retail_ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB

## Eliminar facturas que comienzan con "C"
De la columna Description se elimina los valores que comiencen con c o C

In [82]:
retail_ds = retail_ds[retail_ds.Description.str.startswith(('c', 'C'))]

Resultando en solo 32616 filas de facturas que no son cancelaciones

In [83]:
retail_ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32516 entries, 2 to 541907
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    32516 non-null  object
 1   StockCode    32516 non-null  object
 2   Description  32516 non-null  object
 3   Quantity     32516 non-null  int64
 4   InvoiceDate  32516 non-null  object
 5   UnitPrice    32516 non-null  float64
 6   CustomerID   32516 non-null  float64
 7   Country      32516 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 2.2+ MB

## Crear una nueva columna llamada Total que sea Cantidad × Precio
Crear una nueva Columna 'Total' que es el resultado de multiplicar las columnas Quantity X UnitPrice

In [84]:
retail_ds['Total'] = retail_ds.Quantity * retail_ds.UnitPrice
retail_ds.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.0
37,536370,22631,CIRCUS PARADE LUNCH BOX,24,12/1/2010 8:45,1.95,12583.0,France,46.8
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,12/1/2010 8:45,0.85,12583.0,France,17.0
51,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 9:02,2.75,17850.0,United Kingdom,22.0
68,536375,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 9:32,2.75,17850.0,United Kingdom,22.0

# 2. Predicción: ¿El cliente hará una compra grande?

Crear columna 'Compra_Grande' , asignar 1 si el Total es mayor a 500, de lo contrario 0

In [96]:
retail_ds['Compra_Grande'] = [1 if t > 500 else 0 for t in retail_ds.Total]

In [97]:
retail_ds['Compra_Grande'] = retail_ds.Compra_Grande.astype(np.int8)

In [98]:
retail_ds.Compra_Grande.value_counts()

Compra_Grande
0    32451
1       65
Name: count, dtype: int64

In [99]:
retail_ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32516 entries, 2 to 541907
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   InvoiceNo      32516 non-null  object
 1   StockCode      32516 non-null  object
 2   Description    32516 non-null  object
 3   Quantity       32516 non-null  int64
 4   InvoiceDate    32516 non-null  object
 5   UnitPrice      32516 non-null  float64
 6   CustomerID     32516 non-null  float64
 7   Country        32516 non-null  object
 8   Total          32516 non-null  float64
 9   Compra_Grande  32516 non-null  int8
dtypes: float64(3), int64(1), int8(1), object(5)
memory usage: 2.5+ MB